
#FILE
__pycache__/
*.pyc
*.pyd
.venv/
env/
build/
dist/
eggs/
*.egg-info/
__pypackages__/
*.pth
*.spec
*.coverage
.pytest_cache/
.mypy_cache/
.dmypy_cache/
.ruff_cache/
.pyre_check/

#BITTORRENT
*.torrent
*.part
*.downloading
data/

#IDE
.DS_Store
Thumbs.db
.vscode/  
*.log

#CONFIG
*.ini
*.config
secrets.json

#BACKUP
*.tmp
*.bak
*~